---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const projects = (await getCollection("projects")).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            h2 {
                margin-bottom: 0.5rem;
                font-weight: 600;
                color: #ee0000;
            }
            ul {
                list-style-type: none;
                padding: unset;
            }
            .projects li {
                margin-bottom: 0.25rem;
            }
            .projects p {
                display: inline;
            }
            .posts li {
                display: flex;
            }
            .posts li :global(time) {
                flex: 0 0 130px;
                font-style: italic;
                color: #595959;
            }
            .content {
                margin-top: 2rem;
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <p>
                Hi! 👋 I'm Dhiraj Gagrai. I am a software engineer, currently
                self-teaching myself how different things work. I design and
                build E-commerce applications at my present full-time job.
            </p>
            <br />
            <p>
                Find me on
                <a href="https://github.com/dhirajgagrai" target="_blank"
                    >GitHub</a
                >,
                <a href="https://twitter.com/DhirajGagrai" target="_blank"
                    >Twitter</a
                >,
                <a
                    href="https://www.linkedin.com/in/dhirajgagrai"
                    target="_blank">LinkedIn</a
                >,
                <a
                    href="https://discordapp.com/users/458476095273041941"
                    target="_blank">Discord</a
                > or
                <a href="mailto:dhirajgagrai@gmail.com">Email</a>.
            </p>
            <div class="content">
                <h2>Projects</h2>
                <ul class="projects">
                    {
                        projects.map((project) => (
                            <li>
                                {project.data.link ? (
                                    <a href={project.data.link} target="_blank">
                                        {project.data.title}<!--
                                    --></a>
                                ) : (
                                    <p>{project.data.title}</p>
                                )}<!--
                                -->: <p>{project.data.description}</p>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <div class="content">
                <h2>Blog</h2>
                <ul class="posts">
                    {
                        posts.map((post) => (
                            <li>
                                <FormattedDate date={post.data.pubDate} />
                                <a href={`/blog/${post.slug}/`}>
                                    {post.data.title}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </main>
        <Footer />
    </body>
</html>
